body {
    margin: 60px auto;
    width: 70%;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a.active {
    background-color: #8BB381;
    color: white;
}


a {
    text-decoration: none;
    color: #8BB381;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h3 {
    font-size: 1.3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.1em;
    line-height: 1.2em;
    color: #333;
    font-family: 'Georgia', 'Times New Roman';
}

p.skills {
    font-size: .9em;
    line-height: 1.0em;
    color: #666;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}


footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

img {
    margin-right: 10px;
    vertical-align: text-top;
}

img.maps {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 2px;
    margin-right: 10px;
    vertical-align: text-top;
}

img:hover {
    opacity: .7;
}

hr {
  border-color: #888
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}


