<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
		</head>
		<body>
			<h1>Riley D. Champine</h1>
			<br>
			<nav>
			<a href="/index.html">About</a><p>&nbsp;•&nbsp;<p>
			<a href="/maps.html">Portfolio</a>
	        		<!--<li><a href="/otherprojects.html">Projects</a></li>-->
	        		<!--<li><a href="/press.html">Press</a></li>-->
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->

	    		<ul>
	        		<li><a href="mailto:rileydchampine@gmail.com">Email</a></li>
	        		<li><a href="https://www.linkedin.com/in/rileydchampine">LinkedIn</a></li>
	        		<li><a href="https://twitter.com/rileydchampine">Twitter</a></li>
			</ul>
		</body>
	</html>
