<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
		</head>
		<body>
			<h1>Riley D. Champine</h1>
			<nav>
			<a href="/index.html">About / </a>
			<a href="/maps.html">Maps / </a>
			<a href="/nacis.html">NACIS Talks</a>
	        		<!--<li><a href="/otherprojects.html">Projects</a></li>-->
	        		<!--<li><a href="/press.html">Press</a></li>-->
			</nav>
			<br>
			<br>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<br>
			<h4>Contact</h4>
	        	<p><a href="mailto:riley@champine.net">Email / </a><a href="https://www.linkedin.com/in/rileydchampine">LinkedIn / </a><a href="https://twitter.com/rileydchampine">Twitter</a></p>
		</body>
	</html>
